<%- include('./partiels/header.ejs') %>
<div class="bulletin">
    <div class="container">
      <form class="form">
          <label >Station</label><select >
              <option value="Elkef"></option>
          </select><br/>
          <label >Culture</label><select >
              <option value="Elkef"></option>
          </select><br/>
          <label >Année</label><select >
              <option value="Elkef"></option>
          </select><br/>
          <input type="checkbox" name="" id=""/><label >Rendement</label><br/>
          <input type="checkbox" name="" id=""/><label >image Sattelite</label><br/>
          <input type="Submit"/>
          <input type="reset" value="Annuler"/>
      </form>
    </div>
</div>
<%- include('./partiels/footer.ejs') %>