<div class="menu">
    <ul>
        <li><a href='/users'>utilisateurs</a></li>
        <li><a href='/stations' >Stations</a></li>
        <li><a href='/culture'>Culture</a></li>
        <li><a href='/evapo' >Evapotranspiration</a></li>
        <li><a href='/temp' >Températures</a></li>
    </ul>
</div>