<%- include('./partiels/header.ejs') %>
<div class="rendement">
    <div class="container">
        <form class="form">
            <label>Station</label>
            <select>
                <option value="">Kef</option>
                <option value="">Beja</option>
                <option value="">Jendouba</option>
            </select><br/>
            <label>Culture</label>
            <select>
                <option value="">Sérial</option>
                <option value="">Blé</option>
            </select><br/>
            <label >Température</label>
            
            <input type="text" name="" id=""/><br/>
            <label >Evapotranspiration</label>
            <input type="text" name="" id=""/><br/>
            <input type="submit" value="Valider"/>
            <input type="reset" value="Annuler" />

        </form>
    </div>
 </div>
<%- include('./partiels/footer.ejs') %>